:root {
  --color-main-dark: #1f2937;
  --color-main-light-200: #3992f6;
  --color-main-light-100: #f9faf8;
  --color-main-neutral: #e5e7eb;
  --color-white: #ffffff;

  --text-large: 3rem;
  --text-medium: 2.25rem;
  --text-small: 1.5rem;
  --text-extra-small: 1.125rem;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--color-main-dark);
  font-size: var(--text-extra-small);
}

.page__header,
.page__main-heading {
  color: var(--color-main-light-100);
}

.page__logo {
  font-size: var(--text-small);
}

.page__nav-links {
  color: var(--color-main-neutral);
}

.page__main-heading {
  font-size: var(--text-large);
}

.page__secondary-section {
  background-color: var(--color-main-light-100);
}

.page__secondary-heading {
  font-size: var(--text-medium);
  color: var(--color-main-dark);
}

.page__quote-section {
  background-color: var(--color-main-neutral);
}

.page__quote {
  font-size: var(--text-medium);
  font-style: italic;
}

.page__quote-author {
  color: var(--color-main-dark);
}

.page__call-to-action {
  background-color: var(--color-main-light-200);
  color: var(--color-main-light-100);
}

.page__footer {
  color: var(--color-main-light-100);
}
